<div class="">
  <% @articles.each do |article| %>
    <div class="">
      <div class="">
        <%= article.image %>
      </div>
      <p><%= article.title %></p>
      <p><%= article.user.name %></p>
    </div>
  <% end %>
</div>