<div class="">
  <% @articles.each do |article| %>
    <div class="">
      <div class=""><%= link_to article.image, article_path(article.id) %>
        <span class=""><%= article.user.name %></span>
      </div>
      <p><%= article.title %></p>
    </div>
  <% end %>
</div>