/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}


/* ヘッダー */
header{
  height: 100px;
  background-color: #EDEDED;
}

.heading{
  display: flex;
  justify-content: space-between;
}

.app-title{
  margin: 17px 0px 0px 70px;
}

.heading-right{
  margin: 25px 140px 0px 0px;
}

.now-user{
  margin-top: 10px;
}


/* index画面 */
.art-parents{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.art-main{
  margin-top: 40px;
}

.post-day, .edit-user {
  text-align: right;
}



/* 詳細 */
.outer{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.article-parents{
  width: 1000px;
}

.article-child{
  display: flex;
}

.article-show{
  margin-left: 20px;
}

.admin-btn{
  text-align: right;
}

.article-text{
  word-break: break-all;
  margin-top: 30px;
}


/* 新規投稿・編集 */
.post-parents{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.post-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#post-image{
  margin: 20px 0px;
}

#post-title{
  height: 30px;
  width: 800px;
  margin-bottom: 20px;
}

#post-text{
  height: 260px;
  width: 800px;
  margin-bottom: 20px;
}

#post-btn{
  width: 450px;
}


/* フッター */
footer{
  height: 50px;
  background-color: #EDEDED;
  text-align: center;
  margin-top: 30px;
}